################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Build/Debug/x64
/Build/Release/x64/ExplorerBgTool.dll
/Build/Release/x64/ExplorerBgTool.exp
/Build/Release/x64/ExplorerBgTool.lib
/Build/Release/x64/ExplorerBgTool.pdb
/ExplorerBgTool/x64
